{% extends 'base.html.twig' %}

{% block title %}Deal Logs for Stock {{ stock.name }}{% endblock %}

{% block body %}

<div>
    {% for dealLog in dealLogs %}
            <div>
                    <h2>{{ dealLog.timestamp|date("d/m/Y H:i:s") }}, {{ dealLog.price }}</h2>
            </div>
    {% endfor %}
</div>
{% endblock %}
